$main-font: "ProximaNova";
$copy-font: georgia;
$brand-colour: #044468;
$icon-font: 'Ionicons';
$brand-font: 'SortsMillGoudy';

// Social Colours

$facebook: #3b5998;
$twitter: #00acee;
$instagram: #3f729b;

$background-colour: #fff;

